@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*{
    padding: 0;
    margin: 0;
    display: flexbox;
}
body{
    height: 100vh;
    width:100%;
    background: url(/images/background.jpg);
    background-position: center;
    background-size: cover;
}
h2{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 2px;
    font-family: poppins;
}
.container .card p{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 4px;
    font-family: poppins;
    font-size: 1.4rem;
    font-weight: 500;
}

.container{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.card{
    height: 90vh;
    width: 25vw;
    margin-top: 45px;
    display: flex;
    background: rrgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border: 2px solid rgba(255,255,255,.5);
    border-left: 2px solid rgba(255,255,255,.2);
    border-top: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(6px) ;
    color: #fff;
    align-items: center;
    position: relative;
    border-radius: 14px;
    justify-content: space-around;
    flex-direction: column;
    transition: .5s
}
.profile{
    height: 110px;
    width: 110px;
    display: flex;
    margin-top: 40px;
    align-items: center;
    border-radius: 50%;
    border-color: 3px solid #fff;

}
.profile img{
    width:100%;
    height:100%;
    border-radius:50%;
    border: 3px solid cyan;
    transition: 0.5s;
}
.profile img:hover{
        box-shadow: 0 0 15px 0 #111;
        transform: scale(1.1);

}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}
.btn button {
    height: 100%;
    width: 200px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 13px;
    margin-top: 6px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #000;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    color: #ffff;
    transition: .5s;
    cursor: pointer;
}
.btn button:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}
.btn button i{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    padding-right: 4px;
    position: relative;
}